  /* Sidebar Styles */
  .sidebar {
      background-color: #2c2c2c;
      color: #ffffff;
      width: 250px;
      padding: 15px 10px;
      font-family: inherit;
      height: calc(100vh - 123.98px);
      position: sticky;
      top: 91.98px;
  }

  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  .menu-item {
      padding: 10px 15px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  .menu-item:hover {
      color: #01a860;
  }
  .menu-item.mydomains:hover{
    color: white !important;
  }

  /* Expandable Menu */
  .expandable {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* padding: 10px 15px; */
      cursor: pointer;
      transition: background-color 0.3s;
  }

  .expandable:hover {
      color: var(--primary);
  }

  .expand-button {
      background: none;
      border: none;
      color: #ffffff;
      font-size: 12px;
      cursor: pointer;
      padding: 0;
  }

  /* Submenu Styles */
  .submenu {
      /* margin-left: 20px; */
      margin-top: 5px;
      /* padding-left: 10px; */
      /* border-left: 2px solid #ffffff; */
  }

  .submenu-item {
      padding: 8px 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 14px;
  }

  .submenu-item:hover {
      /* color: var(--primary); */
      background-color: #4d4d4d;
  }